{% extends 'base.html.twig' %}

{% block title %}Sorties |
	{{ parent() }}
{% endblock %}

{% block body %}

	<div class="card">
		<div class="card-header">
			<h5 class="m-0">Filtrer les campus</h5>
		</div>
		<div class="card-body row">
			<div class="col-md-6">
				<div class="row mb-12">
					<label for="inputText" class="col-sm-4 col-form-label">Le nom de la ville contient :</label>
					<div class="col-sm-8">
						<input type="text" class="form-control">
					</div>
				</div>
			</div>

			<div class="col-md-6 align-self-center">
				<button class="btn btn-lg btn-outline-primary">Rechercher</button>
			</div>
		</div>

	</div>

	<div class="card">

		<div class="card-body">

			<!-- Table with stripped rows -->
			<table class="table table-striped datatable" id="campus_table">
				<thead>
				<tr>
					<th scope="col">Campus</th>
					<th scope="col">Actions</th>
				</tr>
				</thead>
				<tbody>
				{% for camp in campus %}
					<tr>
						<th scope="row">{{ camp.nom }}</th>
						<td>
							<a class="me-3" href="javascript:void(0)" onclick="editCampus({{ loop.index - 1 }}, {{ camp.id }})"><i class="fs-3 text-warning bx bxs-edit" data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier"></i></a>
							<a href="javascript:void(0)" onclick="removeCampus({{ loop.index - 1 }}, {{ camp.id }})"><i class="fs-3 text-danger bx bxs-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer"></i></a>
						</td>
					</tr>
				{% endfor %}
					<tr>
						<th scope="row"><input id="campus_name" type="text" class="form-control"></th>
						<td><button onclick="addCampus()" class="btn btn-outline-success">Ajouter</button></td>
					</tr>
				</tbody>
			</table>
			<!-- End Table with stripped rows -->

		</div>

	</div>

{% endblock %}

{% block custom_js %}
	<script type="text/javascript">

		let options = {
			searchable: false,
			perPage: 20,
			locale: 'fr-FR'
		};

		let dataTable = new simpleDatatables.DataTable(document.querySelector('#campus_table'), options);

		function addCampus() {
			$.ajax({
				url: "{{ path('campus_create') }}",
				method: 'GET',
				data: { campus_name: $("#campus_name").val() },
				success: function(data) {
					if (data.success){
						// remove add
						dataTable.rows.remove($(".datatable tr").length - 2);

						// add new campus
						let newRow = [data.campus.nom, '<a class="me-3" href="javascript:void(0)" onclick="editCampus('+($(".datatable tr").length - 1)+', '+data.campus.id+')">Modifier</a><a href="javascript:void(0)" onclick="removeCampus('+($(".datatable tr").length - 1)+','+data.campus.id+')">Supprimer</a>'];
						dataTable.rows.add(newRow);

						// insert add
						newRow = ['<input id="campus_name" type="text" class="form-control">', '<button onclick="addCampus()" class="btn btn-outline-success">Ajouter</button>'];
						dataTable.rows.add(newRow);
					}
				}

			})
		}

		function editCampus(index, campus_id) {

			// Line
			let tr = $(".datatable tbody tr")[index];
			// First Td
			let td_1 = $(tr).find('td')[0];
			let td_2 = $(tr).find('td')[1];
			// Add input
			$(td_1).html('<input class="form-control" type="text" value="'+$(td_1).html()+'" id="edit_campus_'+campus_id+'">');

			$(td_2).html('<button onclick="editCampusProcess('+index+','+campus_id+')" class="btn btn-outline-success">Enregistrer</button>')

		}

		function editCampusProcess(index, campus_id) {

			// Line
			let tr = $(".datatable tbody tr")[index];
			// First Td
			let td_1 = $(tr).find('td')[0];
			let td_2 = $(tr).find('td')[1];

			$.ajax({
				url: "{{ path('campus_edit') }}",
				method: 'GET',
				data: { campus_id: campus_id, campus_name: $("#edit_campus_"+campus_id).val() },
				success: function(data) {
					if (data.success){

						$(td_1).html(data.campus_name);
						$(td_2).html('<a class="me-3" href="javascript:void(0)" onclick="editCampus('+index+', '+campus_id+')">Modifier</a><a href="javascript:void(0)">Supprimer</a>');

					}
				}

			})
		}

		function removeCampus(index, campus_id) {

			if (confirm('Supprimer le campus ?')) {
				$.ajax({
					url: "{{ path('campus_remove') }}",
					method: 'GET',
					data: { campus_id: campus_id },
					success: function(data) {
						if (data.success){

							dataTable.rows.remove(index);

						}
					}

				})
			}

		}

	</script>
{% endblock %}