{% extends 'base.html.twig' %}

{% block title %}Créer une sortie |
    {{ parent() }}
{% endblock %}

{% block body %}

    {{ form_start(sortieForm, {'attr': {'class': 'sortie_create_form'}}) }}
        <div class="card">
            <div class="card-header">
                <h5 class="m-0">Créer une sortie</h5>
            </div>
            <div class="card-body">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item info">
                                    {{ form_row(sortieForm.nom) }}
                                </li>
                                <li class="list-group-item info">
                                    {{ form_row(sortieForm.dateHeureDebut) }}
                                </li>
                                <li class="list-group-item info">
                                    {{ form_row(sortieForm.dateLimiteInscription) }}
                                </li>
                                <li class="list-group-item info">
                                    {{ form_row(sortieForm.nbInscriptionsMax) }}
                                </li>
                                <li class="list-group-item info">
                                    {{ form_row(sortieForm.duree) }}
                                </li>
                                <li class="list-group-item info">
                                    {{ form_row(sortieForm.infosSortie) }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item info">
                                    {{ form_row(sortieForm.campus) }}
                                </li>
                                <li class="list-group-item info">
                                    {{ form_row(sortieForm.ville) }}
                                </li>
                                <li class="list-group-item info">
                                    {{ form_row(sortieForm.lieu) }}
                                    <button type="button" class="btn btn-primary">
                                        <!-- TODO -->
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </li>
                                <li class="list-group-item info">
                                    <span class="info-label">Rue : </span>
                                    <span class="info-value" id="sortie_form_rue"></span>
                                </li>
                                <li class="list-group-item info">
                                    <span class="info-label">Code postal : </span>
                                    <span class="info-value" id="sortie_form_codePostal"></span>
                                </li>
                                <li class="list-group-item info">
                                    <span class="info-label">Latitude : </span>
                                    <span class="info-value" id="sortie_form_latitude"></span>
                                </li>
                                <li class="list-group-item info">
                                    <span class="info-label">Longitude : </span>
                                    <span class="info-value" id="sortie_form_longitude"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-success">Enregistrer</button>
            <button class="btn btn-outline-success">Publier la sortie</button>
            <input type="button" class="btn btn-outline-danger" onclick="location.href='{{ path('sortie_list') }}';" value="Annuler"></input>
        </div>
    {{ form_end(sortieForm) }}

    <script>
        $(document).ready(function () {
            var getLieuList = function () {
                var villeField = $('#sortie_form_ville');
                var lieuField = $('#sortie_form_lieu');
                var villeId = villeField.val();
                var deferred = $.Deferred();
                $.ajax({
                    url: '{{ path('get_lieu_list_by_ville') }}',
                    type: 'GET',
                    data: { ville_id: villeId },
                    success: function (data) {
                        lieuField.empty();
                        $.each(data, function (key, lieu) {
                            lieuField.append('<option value="' + lieu.id + '">' + lieu.nom + '</option>');
                        });
                        deferred.resolve();
                    },
                    error: function () {
                        deferred.reject();
                    }
                });
                return deferred.promise();
            };

            var getCodePostal = function () {
                var villeField = $('#sortie_form_ville');
                var codePostalField = $('#sortie_form_codePostal');
                var villeId = villeField.val();
                $.ajax({
                    url: '{{ path('get_code_postal') }}',
                    type: 'GET',
                    data: { ville_id: villeId },
                    success: function (data) {
                        codePostalField.text(data);
                    }
                });
            };

            var getRueLatitudeLongitude = function () {
                var lieuField = $('#sortie_form_lieu');
                var rueField = $('#sortie_form_rue');
                var latitudeField = $('#sortie_form_latitude');
                var longitudeField = $('#sortie_form_longitude');
                var lieuId = lieuField.val();
                $.ajax({
                    url: '{{ path('get_rue_latitude_longitude') }}',
                    type: 'GET',
                    data: { lieu_id: lieuId },
                    success: function (data) {
                        rueField.text(data.rue);
                        latitudeField.text(data.latitude);
                        longitudeField.text(data.longitude);
                    }
                });
            };

            var updateInfo = function () {
                getLieuList().then(getCodePostal).then(getRueLatitudeLongitude);
            }

            updateInfo();
            $('#sortie_form_ville').on('change', function () {
                updateInfo();
            });
            $('#sortie_form_lieu').on('change', function () {
                getRueLatitudeLongitude();
            });
        });
    </script>

{% endblock %}
