{% extends 'base.html.twig' %}

{% block title %}
    {% if app.request.attributes.get('_route') == 'sortie_edit' %}
        Modifier une sortie |
    {% endif %}
    {% if app.request.attributes.get('_route') == 'sortie_create' %}
        Créer une sortie |
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {{ form_start(sortieForm, {'attr': {'class': 'sortie_create_edit_form'}}) }}
        <div class="card">
            <div class="card-header">
                {% if app.request.attributes.get('_route') == 'sortie_edit' %}
                    <h5 class="m-0">Modifier une sortie</h5>
                {% endif %}
                {% if app.request.attributes.get('_route') == 'sortie_create' %}
                    <h5 class="m-0">Créer une sortie</h5>
                {% endif %}
            </div>
            <div class="card-body">
                <ul class="text-danger">
                    {{ form_errors(sortieForm.nom) }}
                    {{ form_errors(sortieForm.dateHeureDebut) }}
                    {{ form_errors(sortieForm.dateLimiteInscription) }}
                    {{ form_errors(sortieForm.nbInscriptionsMax) }}
                    {{ form_errors(sortieForm.duree) }}
                    {{ form_errors(sortieForm.infosSortie) }}
                    {{ form_errors(sortieForm.campus) }}
                    {{ form_errors(sortieForm.ville) }}
                    {{ form_errors(sortieForm.lieu) }}
                </ul>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item info">
                                    {{ form_label(sortieForm.nom) }}
                                    {{ form_widget(sortieForm.nom) }}
                                </li>
                                <li class="list-group-item info">
                                    {{ form_label(sortieForm.dateHeureDebut) }}
                                    {{ form_widget(sortieForm.dateHeureDebut) }}
                                </li>
                                <li class="list-group-item info">
                                    {{ form_label(sortieForm.dateLimiteInscription) }}
                                    {{ form_widget(sortieForm.dateLimiteInscription) }}
                                </li>
                                <li class="list-group-item info">
                                    {{ form_label(sortieForm.nbInscriptionsMax) }}
                                    {{ form_widget(sortieForm.nbInscriptionsMax) }}
                                </li>
                                <li class="list-group-item info">
                                    {{ form_label(sortieForm.duree) }}
                                    {{ form_widget(sortieForm.duree) }}
                                </li>
                                <li class="list-group-item info">
                                    {{ form_label(sortieForm.infosSortie) }}
                                    {{ form_widget(sortieForm.infosSortie) }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item info">
                                    {{ form_label(sortieForm.campus) }}
                                    {{ form_widget(sortieForm.campus) }}
                                </li>
                                <li class="list-group-item info">
                                    {{ form_label(sortieForm.ville) }}
                                    {{ form_widget(sortieForm.ville) }}
                                </li>
                                <li class="list-group-item info">
                                    {{ form_label(sortieForm.lieu) }}
                                    {{ form_widget(sortieForm.lieu) }}
                                    <button type="button" class="btn btn-primary">
                                        <!-- TODO -->
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </li>
                                <li class="list-group-item info">
                                    <span class="info-label">Rue : </span>
                                    <span class="info-value" id="sortie_form_rue"></span>
                                </li>
                                <li class="list-group-item info">
                                    <span class="info-label">Code postal : </span>
                                    <span class="info-value" id="sortie_form_codePostal"></span>
                                </li>
                                <li class="list-group-item info">
                                    <span class="info-label">Latitude : </span>
                                    <span class="info-value" id="sortie_form_latitude"></span>
                                </li>
                                <li class="list-group-item info">
                                    <span class="info-label">Longitude : </span>
                                    <span class="info-value" id="sortie_form_longitude"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-success">Enregistrer</button>
            <button type="submit" name="publier" class="btn btn-outline-success">Publier la sortie</button>
            {% if app.request.attributes.get('_route') == 'sortie_edit' %}
                <input type="button" class="btn btn-outline-warning" onclick="location.href='{{ path('sortie_delete', {'id': sortie.id }) }}';" value="Supprimer la sortie"></input>
            {% endif %}
            <input type="button" class="btn btn-outline-danger" onclick="location.href='{{ path('sortie_list') }}';" value="Annuler"></input>
        </div>
    {{ form_end(sortieForm) }}

    <script>
        $(document).ready(function () {
            var getLieuList = function () {
                var villeField = $('#sortie_form_ville');
                var lieuField = $('#sortie_form_lieu');
                var villeId = villeField.val();
                var deferred = $.Deferred();
                $.ajax({
                    url: '{{ path('lieu_getLieuListByVille') }}',
                    type: 'GET',
                    data: { ville_id: villeId },
                    success: function (data) {
                        lieuField.empty();
                        $.each(data, function (key, lieu) {
                            lieuField.append('<option value="' + lieu.id + '">' + lieu.nom + '</option>');
                        });
                        deferred.resolve();
                    },
                    error: function () {
                        deferred.reject();
                    }
                });
                return deferred.promise();
            };

            var getCodePostal = function () {
                var villeField = $('#sortie_form_ville');
                var codePostalField = $('#sortie_form_codePostal');
                var villeId = villeField.val();
                $.ajax({
                    url: '{{ path('ville_getCodePostal') }}',
                    type: 'GET',
                    data: { ville_id: villeId },
                    success: function (data) {
                        codePostalField.text(data);
                    }
                });
            };

            var getRueLatitudeLongitude = function () {
                var lieuField = $('#sortie_form_lieu');
                var rueField = $('#sortie_form_rue');
                var latitudeField = $('#sortie_form_latitude');
                var longitudeField = $('#sortie_form_longitude');
                var lieuId = lieuField.val();
                $.ajax({
                    url: '{{ path('lieu_getRueLatitudeLongitude') }}',
                    type: 'GET',
                    data: { lieu_id: lieuId },
                    success: function (data) {
                        rueField.text(data.rue);
                        latitudeField.text(data.latitude);
                        longitudeField.text(data.longitude);
                    }
                });
            };

            var updateInfo = function () {
                getLieuList().then(getCodePostal).then(getRueLatitudeLongitude);
            }

            updateInfo();
            $('#sortie_form_ville').on('change', function () {
                updateInfo();
            });
            $('#sortie_form_lieu').on('change', function () {
                getRueLatitudeLongitude();
            });
        });
    </script>

{% endblock %}
