{% extends 'base.html.twig' %}

{% block title %}Sorties |
	{{ parent() }}
{% endblock %}

{% block body %}

	<div class="text-end mb-5 me-5">
		<h5>Date du jour : {{ 'now'|date('d/m/Y') }}</h5>
		<h5>Participant : {% if app.user %} {{ app.user.prenom }} {{ app.user.nom }} {% else %} Non connecté {% endif %}</h5>
	</div>

	<div class="card">
		<div class="card-header">
			<h5 class="m-0">Filtrer les sorties</h5>
		</div>
		<div class="card-body row">
			<div class="col-md-6">
				<div class="row mb-3">
					<label class="col-sm-4 col-form-label">Campus</label>
					<div class="col-sm-8">
						<select class="form-select" aria-label="Default select example">
							{% for camp in campus %}
								<option value="{{ camp.id }}" >{{ camp.nom }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="row mb-3">
					<label for="inputText" class="col-sm-4 col-form-label">Le nom de la sortie contient :</label>
					<div class="col-sm-8">
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="row mb-3">
					<label for="inputDate" class="col-sm-2 col-form-label">Entre</label>
					<div class="col-sm-4">
						<input type="date" class="form-control">
					</div>
					<label for="inputDate" class="col-sm-2 col-form-label">Et</label>
					<div class="col-sm-4">
						<input type="date" class="form-control">
					</div>
				</div>
			</div>

			<div class="col-md-4 d-grid justify-content-center">
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
					<label class="form-check-label" for="flexSwitchCheckChecked">Sorties dont je suis l'organisateur/trice</label>
				</div>
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
					<label class="form-check-label" for="flexSwitchCheckChecked">Sorties auxquelles je suis inscrit/e</label>
				</div>
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
					<label class="form-check-label" for="flexSwitchCheckChecked">Sorties auxquelles je ne suis pas inscrit/e</label>
				</div>
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
					<label class="form-check-label" for="flexSwitchCheckDefault">Sorties passées</label>
				</div>
			</div>

			<div class="col-md-2 align-self-center">
				<button class="btn btn-lg btn-outline-primary">Rechercher</button>
			</div>
		</div>

	</div>

	<div class="card">

		<div class="card-body">

			<!-- Table with stripped rows -->
			<table class="table table-striped datatable" id="sortieTable">
				<thead>
				<tr>
					<th scope="col">Nom de la sortie</th>
					<th scope="col">Date de la sortie</th>
					<th scope="col">Clôture</th>
					<th scope="col">inscrits/places</th>
					<th scope="col">Etat</th>
					<th scope="col">Inscrit</th>
					<th scope="col">Organisateur</th>
					<th scope="col">Actions</th>
				</tr>
				</thead>
				<tbody>
				{% for sortie in sorties %}
					{% if app.user and
						(sortie.etat.libelle is same as('Ouverte') or
						(sortie.participantOrganisateur is same as(app.user) or
						app.user in sortie.participants)) %}
						<tr>
							<th scope="row">{{ sortie.nom }}</th>
							<td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
							<td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
							<td>{{ sortie.participants|length }}/{{ sortie.nbInscriptionsMax }}</td>
							<td>{{ sortie.Etat.libelle }}</td>
							<td>{% if app.user in sortie.participants %}<i class="fs-3 text-success bx bxs-check-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Inscrit"></i>{% else %}<i class="fs-3 text-danger bx bxs-x-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Non Inscrit"></i>{% endif %}</td>
							<td><a class="text-primary text-decoration-none" href="{{ path('participant_detail', {'id': sortie.participantOrganisateur.id }) }}">{{ sortie.participantOrganisateur.prenom }} {{ sortie.participantOrganisateur.nom }}</a></td>
							<td>
								{% if sortie.etat.libelle is not same as ('Créée') %}
									<a class="me-3" href={{ path('sortie_detail', {'id': sortie.id }) }}><i class="fs-3 text-info bx bxs-show" data-bs-toggle="tooltip" data-bs-placement="top" title="Détail"></i></a>
								{% endif %}
								{% if app.user.id is same as(sortie.participantOrganisateur.id ) and sortie.etat.libelle is same as('Créée') %}
									<a class="me-3" href={{ path('sortie_edit', {'id': sortie.id }) }}><i class="fs-3 text-warning bx bxs-edit" data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier"></i></a>
									<a class="me-3" href={{ path('sortie_publish', {'id': sortie.id }) }}><i class="fs-3 text-success bx bx-send" data-bs-toggle="tooltip" data-bs-placement="top" title="Publier"></i></a>
								{% endif %}
								{% if app.user != sortie.participantOrganisateur and sortie.Etat.libelle == "Ouverte" and (sortie.dateLimiteInscription)|date('d/m/Y') > 'now'|date('d/m/Y') %}
									{% if app.user in sortie.participants %}
										<a class="me-3" href={{ path('sortie_unsubscribe', {'sortie_id': sortie.id }) }}><i class="fs-3 text-danger bx bxs-user-minus" data-bs-toggle="tooltip" data-bs-placement="top" title="Se désister"></i></a>
									{% else %}
										<a class="me-3" href={{ path('sortie_register', {'sortie_id': sortie.id }) }}><i class="fs-3 text-success bx bxs-user-plus" data-bs-toggle="tooltip" data-bs-placement="top" title="S'inscrire"></i></a>
									{% endif %}
								{% endif %}
							</td>
						</tr>
					{% endif %}
				{% endfor %}
				</tbody>
			</table>
			<!-- End Table with stripped rows -->

		</div>

	</div>

	<div>
		<input type="button" class="btn btn-outline-success" onclick="location.href='{{ path('sortie_create') }}';" value="Créer une sortie" />
	</div>

{% endblock %}

{% block custom_js  %}
	<script type="text/javascript">
		let options = {
			searchable: false,
			perPage: 20,
			locale: 'fr-FR'
		};

		let dataTable = new simpleDatatables.DataTable(document.querySelector('#sortieTable'), options);
	</script>
{% endblock %}
