{% extends 'base.html.twig' %}

{% block title %}Sorties |
	{{ parent() }}
{% endblock %}

{% block body %}

	<div class="card">
		<div class="card-header">
			<h5 class="m-0">Filtrer les villes</h5>
		</div>
		<div class="card-body row">
			<div class="col-md-6">
				<div class="row mb-12">
					<label for="inputText" class="col-sm-4 col-form-label">Le nom de la ville contient :</label>
					<div class="col-sm-8">
						<input type="text" class="form-control">
					</div>
				</div>
			</div>

			<div class="col-md-6 align-self-center">
				<button class="btn btn-lg btn-outline-primary">Rechercher</button>
			</div>
		</div>

	</div>

	<div class="card">

		<div class="card-body">

			<!-- Table with stripped rows -->
			<table class="table table-striped datatable" id="city_table">
				<thead>
				<tr>
					<th scope="col">Ville</th>
					<th scope="col">Code Postal</th>
					<th scope="col">Actions</th>
				</tr>
				</thead>
				<tbody>
				{% for ville in villes %}
					<tr>
						<th scope="row">{{ ville.nom }}</th>
						<td>{{ ville.codePostal }}</td>
						<td>
							<a class="me-3" href="javascript:void(0)" onclick="editCity({{ loop.index - 1 }}, {{ ville.id }})"><i class="fs-3 text-warning bx bxs-edit" data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier"></i></a>
							<a href="javascript:void(0)" onclick="removeCity({{ loop.index - 1 }}, {{ ville.id }})"><i class="fs-3 text-danger bx bxs-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer"></i></a>
						</td>
					</tr>
				{% endfor %}
					<tr>
						<th scope="row"><input id="city_name" type="text" class="form-control"></th>
						<td><input id="city_postalCode" type="number" class="form-control"></td>
						<td><button onclick="addCity()" class="btn btn-outline-success">Ajouter</button></td>
					</tr>
				</tbody>
			</table>
			<!-- End Table with stripped rows -->

		</div>

	</div>

{% endblock %}

{% block custom_js %}
	<script type="text/javascript">

		let options = {
			searchable: false,
			perPage: 20,
			locale: 'fr-FR'
		};

		let dataTable = new simpleDatatables.DataTable(document.querySelector('#city_table'), options);

		function addCity() {
			$.ajax({
				url: "{{ path('ville_create') }}",
				method: 'GET',
				data: { city_name: $("#city_name").val(), city_postalCode: $("#city_postalCode").val() },
				success: function(data) {
					if (data.success){
						// remove add
						dataTable.rows.remove($(".datatable tr").length - 2);

						// add new city
						let newRow = [data.city.nom, data.city.codePostal, '<a class="me-3" href="javascript:void(0)" onclick="editCity('+($(".datatable tr").length - 1)+', '+data.city.id+')">Modifier</a><a href="javascript:void(0)" onclick="removeCity('+($(".datatable tr").length - 1)+','+data.city.id+')" data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer">Supprimer</a>'];
						dataTable.rows.add(newRow);

						// insert add
						newRow = ['<input id="city_name" type="text" class="form-control">', '<input id="city_postalCode" type="number" class="form-control">', '<button onclick="addCity()" class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Ajouter">Ajouter</button>'];
						dataTable.rows.add(newRow);
					}
				}

			})
		}

		function editCity(index, city_id) {

			// Line
			let tr = $(".datatable tbody tr")[index];
			// First Td
			let td_1 = $(tr).find('td')[0];
			let td_2 = $(tr).find('td')[1];
			let td_3 = $(tr).find('td')[2];
			// Add input
			$(td_1).html('<input class="form-control" type="text" value="'+$(td_1).html()+'" id="edit_city_name_'+city_id+'">');
			$(td_2).html('<input class="form-control" type="number" value="'+$(td_2).html()+'" id="edit_city_postalCode_'+city_id+'">');
			$(td_3).html('<button onclick="editCityProcess('+index+','+city_id+')" class="btn btn-outline-success">Enregistrer</button>')

		}

		function editCityProcess(index, city_id) {

			// Line
			let tr = $(".datatable tbody tr")[index];
			// First Td
			let td_1 = $(tr).find('td')[0];
			let td_2 = $(tr).find('td')[1];
			let td_3 = $(tr).find('td')[2];

			$.ajax({
				url: "{{ path('ville_edit') }}",
				method: 'GET',
				data: { city_id: city_id, city_name: $("#edit_city_name_"+city_id).val(), city_postalCode: $("#edit_city_postalCode_"+city_id).val()  },
				success: function(data) {
					if (data.success){

						$(td_1).html(data.city_name);
						$(td_2).html(data.city_postalCode);
						$(td_3).html('<a class="me-3" href="javascript:void(0)" onclick="editCity('+index+', '+city_id+')">Modifier</a><a href="javascript:void(0)">Supprimer</a>');

					}
				}

			})
		}

		function removeCity(index, city_id) {

			if (confirm('Supprimer la ville ?')) {
				$.ajax({
					url: "{{ path('ville_delete') }}",
					method: 'GET',
					data: { city_id: city_id },
					success: function(data) {
						if (data.success){

							dataTable.rows.remove(index);

						}
					}

				})
			}

		}

	</script>
{% endblock %}
